<!-- <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal delete</span></button> -->

<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xác nhận xóa"
  nzOkText="Xác nhận" nzCancelText="Hủy" (nzOnOk) = "handleOk()" (nzOnCancel) = "handleCancel()">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="[16,48]">
        <span>Bạn có chắc chắn muốn xóa <span style="color: red; font-weight: 700;">{{item.nameJob}}</span> không?</span>
    </div>
  </ng-container>
</nz-modal>
