<nz-modal
  [(nzVisible)]="isVisibleDeleteStatus"
  [nzOkLoading]="isLoading"
  nzOkText="Xác nhận"
  nzCancelText="Hủy"
  [nzTitle]="'Xóa trạng thái'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <!-- <span style="color: red; font-weight: 700;">{{itemStatus.nameStatus}}</span> không ?</span> -->
    <span >Bạn có chắc chắn xóa <span class="textDeleteRed">
      {{itemStatus.nameStatus}}
      <!-- công việc này -->
    </span> không ?</span>
  </ng-container>
</nz-modal> 
