<div class="titleStatus"><h1>QUẢN LÝ TRẠNG THÁI</h1></div>
<app-header-status (openModalAdd)="handleOpenModalAddorUpdate()" (searchStatus)="handleSearch($event)" (sortStatus)="handleSelect($event)"></app-header-status>
<nz-table #basicTable [nzData]="listData" nzShowPagination="false" class="status_table">
    <thead>
      <tr>
        <th nzWidth="60px" nzAlign="center">STT</th>
        <th nzWidth="300px" nzAlign="center">Tên trạng thái</th>
        <th nzAlign="center">Mô tả</th>
        <th nzWidth="200px" nzAlign="center">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData; let i = index ">
        <td nzAlign="center">{{ (stateGetStatus.currentPage - 1) * limit + i + 1  }}</td>
        <td nzAlign="center">{{ item.nameStatus }}</td>
        <td nzAlign="center">{{ item.description }}</td>
        <td nzAlign="center" class="actionCells">
          <button [disabled]="item.default" nz-button nzType="primary"
          (click)="handleOpenModalAddorUpdate(item,i)">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
          <button [disabled]="item.default" nz-button nzType="primary" style="margin-left: 5px"
          nzDanger (click)="handleOpenModalDelete(item)">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="pagination">
    <nz-pagination [nzPageIndex]="stateGetStatus.currentPage" [nzTotal]="totalRecord" [nzPageSize]="5" (nzPageIndexChange)="handlePagination($event)"/>
  </div>

  <!--  -->


<app-modal-add-or-update-status
  [isVisibleStatus]="modalStatus.modalAddorUpdate"
  (closeModal)="handleCloseModalAddorUpdate()"
  [stateStatus]="stateGetStatus"
  (getStatus)="handleGet($event)"
  [item] = "modalItemAddorUpdate"
  (listDataUp) = "handleUpdateTable($event)"
/>

<app-modal-delete-status [isVisibleDeleteStatus]="modalStatus.modalDelete" [itemStatus]="modalItemDelete"
  [stateStatus]="stateGetStatus"
  (closeModal)="handleCloseModalDelete()" (getStatus)="handleGet($event)" />
