.titleStatus {
    text-align: center;
    margin: 30px 0;
  }
  .titleStatus>h1 {
    font-weight: bold;
  }

  .status_table{
    margin: 20px 0 0 0;
  }

  .pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}