<nz-modal [(nzVisible)]="isVisibleStatus" [nzOkLoading]="isLoading" nzOkText="Xác nhận" nzCancelText="Hủy"
  [nzTitle]="item.itemStatus.idStatus  ? 'Sửa trạng thái' : 'Thêm trạng thái'" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="[16,48]">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <p>Tên trạng thái:</p>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="18">
        <input nz-input placeholder="Tên trạng thái" [(ngModel)]="nameStatus" (input)="onInput()" />
        <span *ngIf="showValidate" class="validateInput">Vui lòng nhập tên trạng thái !</span>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <p>Mô tả:</p>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="18">
        <textarea rows="3" nz-input placeholder="Mô tả" [(ngModel)]="description"></textarea>
      </div>
    </div>
  </ng-container>
</nz-modal>
