<nz-modal [(nzVisible)]="isVisibleModal" [nzWidth]="1200" (nzOnCancel)="handleCloseModalJob()" nzClosable="false">
  <ng-container *nzModalContent>
    <!-- test back và link -->
    <!-- back -->
    <div class="backAndLink">
      <!-- <button style="margin-right: 10px;" nz-button nzType="primary" (click)="addBreadcrumbItem(item)">Add Breadcrumb
        Item</button> -->
      <div class="back">
        <span class="back-icon" nz-icon nzType="left" nzTheme="outline" (click)="goBack()"></span>
      </div>
      <!-- link -->
      <nz-breadcrumb class="link" nzSeparator=">">
        <ng-container *ngIf="breadcrumbItems.length <= 3; else ellipsis">
          <!-- <nz-breadcrumb-item class="link-item">
            <a class="breadcrumb-color" (click)="removeBreadcrumbItemsAfterIndex(0)">{{item.nameJob}}</a>
          </nz-breadcrumb-item> -->
          <nz-breadcrumb-item class="link-item" *ngFor="let item of breadcrumbItems; let i = index"
            [ngClass]="{'first-item': i === 0, 'last-item': i === breadcrumbItems.length - 1}">
            <a [class.disable-link]="i === 0" [style.color]="i !== breadcrumbItems.length - 1 ? '#2B78E4' : ''"
              (click)="removeBreadcrumbItemsAfterIndex(i)">{{ item.nameJob }}</a>
          </nz-breadcrumb-item>
        </ng-container>
        <ng-template #ellipsis>
          <nz-breadcrumb-item class="link-item">
            <a class="breadcrumb-color" (click)="removeBreadcrumbItemsAfterIndex(0)">{{item.nameJob}}</a>
            <!-- <a class="breadcrumb-color">{{item.nameJob}}</a> -->
          </nz-breadcrumb-item>
          <nz-breadcrumb-item class="link-item">
            <span>...</span>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item class="link-item" *ngFor="let item of breadcrumbItems.slice(-2); let i = index"
            [ngClass]="{'last-item': i === 1}">
            <a [style.color]="i === 1 ? 'black' : '#2B78E4'"
              (click)="removeBreadcrumbItemsAfterIndex(breadcrumbItems.length - 2 + i)">{{ item.nameJob }}</a>
          </nz-breadcrumb-item>
        </ng-template>
      </nz-breadcrumb>
    </div>
    <!--  -->
    <div nz-row class="header-modal-job">
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="18">
            <nz-input-group [nzSuffix]="inputClearTpl">
              <input type="text" nz-input [(ngModel)]="stateGet.textSearch" placeholder="Nhập tên công việc"
                (keydown.enter)="handleSearch()" />
            </nz-input-group>
            <ng-template #inputClearTpl>
              <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                *ngIf="stateGet.textSearch" (click)="inputValue()"></span>
            </ng-template>
          </div>
          <div nz-col class="gutter-row icon-search" [nzSpan]="6">
            <span nz-icon nzType="search" nzTheme="outline" style="font-size: 19px;" (click)="handleSearch()"></span>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row item-left" nzSpan="12">
        <div nz-col class="add-button">
          <button nz-button style="width: 140px; background-color: green; color: white;" (click)="handleOpenModalAddorUpdate  ()">Thêm</button>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="10">
          <div class="inner-box">
              <nz-select [(ngModel)]="sortItem" style="width: 100%;" (ngModelChange)="handleSelectData($event)">
                  <nz-option *ngFor="let item of sortCase" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
              </nz-select>
          </div>
      </div>
      </div>
    </div>
    <div>
      <nz-table #basicTable [nzData]="listData" [nzLoading]="" nzShowPagination="false" [nzScroll]="{ y: '330px' }">
        <thead>
          <tr>
            <th nzWidth="60px" nzAlign="center">STT</th>
            <th nzWidth="300px" nzAlign="center">Tên Công Việc</th>
            <th nzWidth="200px" nzAlign="center">Tiến độ / Trạng thái</th>
            <th nzWidth="100px" nzAlign="center">Độ ưu tiên</th>
            <th nzWidth="150px" nzAlign="center">Ngày tạo</th>
            <th nzWidth="150px" nzAlign="center">Ngày cập nhật</th>
            <th nzWidth="110px" nzAlign="center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listData; let i = index">
            <td nzAlign="center">{{(stateGet.currentPage - 1)* limit + i + 1}}</td>
            <td><a (click)="handleGetById(data)">{{data.nameJob}}</a></td>
            <td nzAlign="center">{{!data.hasChild ? data.nameStatus : data.progress + " " + "(" +
              handleroundProgress(data.progressDouble) + "%" + ")"}}</td>
            <td nzAlign="center">{{handlePriorityFormat(data.priority)}}</td>
            <td nzAlign="center">{{data.createdAt | date: "dd/MM/yyyy" }}</td>
            <td nzAlign="center">{{data.updatedAt | date: "dd/MM/yyyy" }}</td>
            <td class="actionCells" nzAlign="center">
              <button nz-button nzType="primary" NzButtonSize='medium'>
                <span nz-icon nzType="edit" nzTheme="outline" (click)="handleOpenModalAddorUpdate(data, i)"></span>
              </button>
              <button nz-button nzType="primary" NzButtonSize='medium' style="margin-left: 5px;" nzDanger (click)="handleOpenModalDelete(data)">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="pagination">
      <nz-pagination [nzPageIndex]="stateGet.currentPage" [nzTotal]="totalRecord" [nzPageSize]="limit"
        (nzPageIndexChange)="handlePagination($event)" />
    </div>
  </ng-container>
  <ng-container *nzModalFooter></ng-container>
</nz-modal>

<app-modal-add-or-update-job [isVisible]="modalJob.modalAddorUpdate" (closeModalJob)="handleCloseModalAddorUpdate()"
  [item]="modalItemAddorUpdate" [stateGet]="stateGet" [totalItem]="totalRecord"
  (reselectSort)="handleReSelectSortType($event)" />

<app-modal-delete-job [isVisibleDelete]="modalJob.modalDelete" (closeModal)="handleCloseModalDelete()"
  [item]="modalDeleteItem" [stateGet]="stateGet" />


































<!-- <nz-modal [(nzVisible)]="isVisibleModal" [nzTitle]="item.nameJob" [nzWidth]="1200"  (nzOnCancel)="handleCloseModalAddorUpdate()" > -->
<!-- <app-header-job></app-header-job>
    <nz-table #basicTable nzShowPagination="false" [nzScroll]="{ y: '300px' }">
      <thead>
        <tr>
          <th nzWidth="60px" nzAlign="center">STT</th>
          <th nzWidth="300px" nzAlign="center">Tên Công Việc</th>
          <th nzWidth="200px" nzAlign="center">Tiến độ / Trạng thái</th>
          <th nzWidth="100px" nzAlign="center">Độ ưu tiên</th>
          <th nzWidth="150px" nzAlign="center">Ngày tạo</th>
          <th nzWidth="150px" nzAlign="center">Ngày cập nhật</th>
          <th nzWidth="110px" nzAlign="center">Hành động</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </nz-table>
    <div class="pagination">
      <nz-pagination [nzPageIndex]="stateGet.currentPage" [nzTotal]="totalRecord" [nzPageSize]="5"
        (nzPageIndexChange)="handlePagination($event)"></nz-pagination>
    </div> -->

<!-- <div *nzModalFooter></div> -->

<!-- <div class="header"><span class="titleJob">QUẢN LÝ CÔNG VIỆC</span></div>
<div nz-row [nzGutter]="[16,48]">
    <div nz-col class="gutter-row" [nzSpan]="18">
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="18">
                <nz-input-group [nzSuffix]="inputClearTpl">
                    <input type="text" nz-input  placeholder="Nhập tên trạng thái" />
                </nz-input-group>
                <ng-template #inputClearTpl>
                    <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                         ></span>
                </ng-template>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
                <button nz-button nzType="primary" >Tìm kiếm</button>
            </div>
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
            <nz-select  style="width: 100%;" >
                <nz-option></nz-option>
            </nz-select>
        </div>
    </div>
</div>
<div nz-row [nzGutter]="[16,48]" nzJustify="end">
  <div nz-col class="gutter-row" [nzSpan]="18">

  </div>
  <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; justify-content: end;">
      <button nz-button
          style="margin-bottom: 40px; width: 140px; background-color: green; color: white;">Thêm</button>
  </div>
</div> -->
<!--
</nz-modal> -->