<div nz-row [nzGutter]="[16,48]">
    <div nz-col class="gutter-row" [nzSpan]="18">
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="18">
                <nz-input-group [nzSuffix]="inputClearTpl">
                    <input type="text" nz-input [(ngModel)]="stateGet.textSearch" placeholder="Nhập tên công việc" (keydown.enter)="handleSearch()"/>
                  </nz-input-group>
                  <ng-template #inputClearTpl>
                    <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                    *ngIf="stateGet.textSearch" (click)="inputValue()"></span>
                  </ng-template>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; align-items: center;">
                <span nz-icon nzType="search" nzTheme="outline" style="font-size: 19px;"  (click)="handleSearch()"></span>
              </div>
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
            <nz-select [(ngModel)]="sortItem" style="width: 100%;" (ngModelChange)="handleSelectData($event)">
                <nz-option *ngFor="let item of sortCase" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
        </div>
    </div>
</div>
<div nz-row [nzGutter]="[16,48]" nzJustify="end">
  <div nz-col class="gutter-row" [nzSpan]="18">

  </div>
  <div nz-col class="gutter-row" [nzSpan]="6" style="display: flex; justify-content: end;">
      <button nz-button 
          style="margin-bottom: 40px; width: 140px; background-color: green; color: white;" (click)="handleOpenModalAdd()">Thêm</button>
  </div>
</div>
