<div class="titleJob"><h1>QUẢN LÝ CÔNG VIỆC</h1></div>
<app-header-job (openModalAdd)="handleOpenModalAddorUpdate()" (searchJob)="handleSearch($event)"></app-header-job>


<nz-table #basicTable [nzData]="listData" [nzLoading]="" nzShowPagination="false" [nzScroll]="{ y: '330px' }">
    <thead>
        <tr>
            <th nzWidth="60px" nzAlign="center">STT</th>
            <th nzWidth="300px" nzAlign="center">Tên Công Việc</th>
            <th nzWidth="200px" nzAlign="center">Tiến độ / Trạng thái</th>
            <th nzWidth="100px" nzAlign="center">Độ ưu tiên</th>
            <th nzWidth="150px" nzAlign="center">Ngày tạo</th>
            <th nzWidth="150px" nzAlign="center">Ngày cập nhật</th>
            <th nzWidth="110px" nzAlign="center">Hành động</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of listData; let i = index">
            <td nzAlign="center">{{(stateGet.currentPage - 1)* limit + i + 1}}</td>
            <td><a (click)="handleOpenModalJob(data)">{{data.nameJob}}</a></td>
            <td nzAlign="center">{{!data.hasChild ? data.nameStatus : data.progress + " " + "(" +
                handleroundProgress(data.progressDouble) + "%" + ")"}}</td>
            <td nzAlign="center">{{handlePriorityFormat(data.priority)}}</td>
            <td nzAlign="center">{{data.createdAt | date: "dd/MM/yyyy" }}</td>
            <td nzAlign="center">{{data.updatedAt | date: "dd/MM/yyyy" }}</td>
            <td class="actionCells" nzAlign="center">
                <button nz-button nzType="primary" NzButtonSize='medium' (click)="handleOpenModalAddorUpdate(data, i)">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                </button>
                <button nz-button nzType="primary" NzButtonSize='medium' (click)="handleOpenModalDelete(data)"
                    style="margin-left: 5px;" nzDanger>
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<div class="pagination">
  <nz-pagination [nzPageIndex]="stateGet.currentPage" [nzTotal]="totalRecord" [nzPageSize]="limit"
    (nzPageIndexChange)="handlePagination($event)" />
</div>


<app-modal-add-or-update-job [isVisible]="modalJob.modalAddorUpdate" (closeModalJob)="handleCloseModalAddorUpdate()"
  [item]="modalItemAddorUpdate" [stateGet]="stateGet" [totalItem]="totalRecord"
  (reselectSort)="handleReSelectSortType($event)" />

<app-modal-delete-job [isVisibleDelete]="modalJob.modalDelete" (closeModal)="handleCloseModalDelete()"
  [item]="modalDeleteItem" [stateGet]="stateGet" />

<app-modal-job  [isVisibleModal]="modalJob.modalJobItem" (closeModal)="handleCloseModalJob()" [item]="modalJobItem" 
  [stateGet]="stateGet"/>
<!--  -->
