<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzWidth="256px" nzBreakpoint="md" [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="/">
          <img nz-image nzDisablePreview="true" nzSrc="../../../assets/image/z5042944606528_866051cb20777daf7ec7185a1ed7a8f2.jpg"
            alt="logo">
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <ul>
          <li nz-menu-item nzMatchRouter nzIcon="form">
            <span nz-icon nzType="pie-chart"></span>
            <span></span>
            <a [routerLink]="['/job']">Quản lý công việc</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <span nz-icon nzType="bar-chart"></span>
            <span></span>
            <a [routerLink]="['/status']">Quản lý trạng thái</a>
          </li>
        </ul>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
